<?xml version="1.0"?>
<launch>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_h)" output="screen"  launch-prefix="gnome-terminal --geometry 80x43+55+14 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.99" />
    <param  name="tube_radius" value="0.05" />
  </node>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_f)" output="screen"  launch-prefix="gnome-terminal --geometry 80x43+55+14 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.9" />
    <param  name="tube_radius" value="0.05" />
  </node>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_g)" output="screen"  launch-prefix="gnome-terminal --geometry 56x44+788+-10 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.999" />
    <param  name="tube_radius" value="0.05" />
  </node>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_c)" output="screen"  launch-prefix="gnome-terminal --geometry 56x44+788+-10 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.99" />
    <param  name="tube_radius" value="0.01" />
  </node>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_d)" output="screen"  launch-prefix="gnome-terminal --geometry 56x44+788+-10 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.9" />
    <param  name="tube_radius" value="0.01" />
  </node>
  <node pkg="graph_core" type="narrow_pass_test" name="$(anon narrow_e)" output="screen"  launch-prefix="gnome-terminal --geometry 56x44+788+-10 --">
    <rosparam  command="load" file="$(find graph_core)/config/narrow_pass.yaml" />
    <param  name="tube_sampler" value="true" />
    <param  name="forgetting_factor" value="0.999" />
    <param  name="tube_radius" value="0.01" />
  </node>
  </launch>

