<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find object_loader)/config/objects.yaml"/>
  <include file="$(find cell_moveit_config)/launch/demo.launch"/>
  <node pkg="object_loader" name="context_manager_node" type="context_manager_node" respawn="true" output="screen"/>
  <node pkg="graph_core" name="test_replanner_with_moving_obstacle" type="test_replanner_with_moving_obstacle" output="screen"/>
</launch>
